<h1> Login Page</h1> 
<div class="container form-container">
<form method="POST" action="/login">
{{#if message }}
<div class="alert alert-danger" role="alert">
  {{message}}
</div>
{{/if }}

  <div class="mb-3">
    <label for="username" class="form-label">Username:</label>
    <input type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password:</label>
    <input type="password" name="password" class="form-control" id="password">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>